bintray.user=your_username
bintray.apiKey=your_api_key
bintray.gpgPassphrase=your_gpg_passphrase

KEYSTORE_PATH=/path/to/your/keystore
KEYSTORE_PASSWORD=your_keystore_password
KEY_ALIAS=your_key_alias
KEY_PASSWORD=your_key_password