bintray.user=your_username
bintray.apiKey=your_api_key
bintray.gpgPassphrase=your_gpg_passphrase

keystore.path=/path/to/your/keystore
keystore.password=your_keystore_password
key.alias=your_key_alias
key.password=your_key_password